CITSMART_USERNAME= SEUUSUÁRIO
CITSMART_PASSWORD= SUASENHA
DEBUG_MODE=false
LOG_FILE_LEVEL=INFO
TEAMS_WEBHOOK_URL=
CITSMART_QUEUE_URL=https://CITSMARTEXEMPLObr/workflow/pages/serviceRequestIncident/serviceRequestIncident.load?iframe=true&language=pt-BR
ALERT_AFTER_MINUTES=5
REPEAT_EVERY_MINUTES=1
CHECK_INTERVAL_SECONDS=15
SOFT_REFRESH_EVERY_SECONDS=120
HEADLESS=true
APP_RUNTIME_CODE=500
ERROR_NOTIFY_COOLDOWN_MINUTES=10
STATE_TTL_MINUTES=180
HEARTBEAT_MINUTES=30
OUT_OF_QUEUE_GRACE_SECONDS=10
RECONNECT_EVERY_SECONDS=300
DUE_SOON_MINUTES=30
DUE_ALERT_REPEAT_MINUTES=10
UNASSIGNED_ALERT_AFTER_MINUTES=8
UNASSIGNED_REPEAT_MINUTES=5
